<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="snkdbEntities" connectionString="metadata=res://*/DBSNK.csdl|res://*/DBSNK.ssdl|res://*/DBSNK.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;persistsecurityinfo=True;database=snkdb;Max Pool Size=50000; Pooling=True;CharSet=utf8&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="snk_interfaceEntities" connectionString="metadata=res://*/DBSNK_INTERFACE.csdl|res://*/DBSNK_INTERFACE.ssdl|res://*/DBSNK_INTERFACE.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;persistsecurityinfo=True;database=snk_interface;Max Pool Size=50000; Pooling=True;CharSet=utf8;&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="snkdbEntities" connectionString="metadata=res://*/SNK_DB.csdl|res://*/SNK_DB.ssdl|res://*/SNK_DB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=180.93.223.114;user id=root;password=Onconc1001;persistsecurityinfo=True;database=snkdb;Max Pool Size=50000; Pooling=True;CharSet=utf8&quot;" providerName="System.Data.EntityClient" />
    <add name="snk_interfaceEntities" connectionString="metadata=res://*/SNK_DB_INTERFACE.csdl|res://*/SNK_DB_INTERFACE.ssdl|res://*/SNK_DB_INTERFACE.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=180.93.223.114;user id=root;password=Onconc1001;database=snk_interface;;Max Pool Size=50000; Pooling=True;CharSet=utf8&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Expert_SNKEntities" connectionString="metadata=res://*/DBSNK_SQL.csdl|res://*/DBSNK_SQL.ssdl|res://*/DBSNK_SQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.25.218.179;initial catalog=Expert_SNK;user id=mes;password=Mes@snk123#@!;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=50000; Pooling=True;&quot;" providerName="System.Data.EntityClient" />
    <add name="snkdbEntities" connectionString="metadata=res://*/DB_SNK.csdl|res://*/DB_SNK.ssdl|res://*/DB_SNK.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.100.193;user id=root;password=Onconc1001;persistsecurityinfo=True;database=snkdb;Max Pool Size=50000; Pooling=True;CharSet=utf8;&quot;" providerName="System.Data.EntityClient" />
    <add name="snk_interfaceEntities" connectionString="metadata=res://*/DBSNK_INTERFACE.csdl|res://*/DBSNK_INTERFACE.ssdl|res://*/DBSNK_INTERFACE.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.100.193;user id=root;password=Onconc1001;persistsecurityinfo=True;database=snk_interface;Max Pool Size=50000; Pooling=True;CharSet=utf8;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>